<a href="https://colab.research.google.com/github/SowmyaLR/neural-networks/blob/basic_stuff/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Read the melb_data.csv

In [5]:
house_data = pd.read_csv('melb_data.csv')
house_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

Drop the NaN rows for data preprocessing

In [9]:
house_data = house_data.dropna()
house_data.describe()

             Rooms         Price  ...   Longtitude  Propertycount
count  6196.000000  6.196000e+03  ...  6196.000000    6196.000000
mean      2.931407  1.068828e+06  ...   144.990201    7435.489509
std       0.971079  6.751564e+05  ...     0.099165    4337.698917
min       1.000000  1.310000e+05  ...   144.542370     389.000000
25%       2.000000  6.200000e+05  ...   144.926198    4383.750000
50%       3.000000  8.800000e+05  ...   144.995800    6567.000000
75%       4.000000  1.325000e+06  ...   145.052700   10175.000000
max       8.000000  9.000000e+06  ...   145.526350   21650.000000

[8 rows x 13 columns]

Steps in building a model

---

1. Define
2. Fit - Training
3. Predict
4. Evaluate

Now select the features for training. The training will be like **X -> y**
So the features be called as **X** and the target be called as **y**

In [12]:
features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'Lattitude', 'Longtitude']
X = house_data[features]
y = house_data[['Price']]
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  Lattitude  Longtitude
1      2       1.0     156.0          79.0   -37.8079    144.9934
2      3       2.0     134.0         150.0   -37.8093    144.9944
4      4       1.0     120.0         142.0   -37.8072    144.9941
6      3       2.0     245.0         210.0   -37.8024    144.9993
7      2       1.0     256.0         107.0   -37.8060    144.9954

[DecisionTreeRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html)


[random_state](https://stackoverflow.com/questions/39158003/confused-about-random-state-in-decision-tree-of-scikit-learn)

In [15]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model_1 = DecisionTreeRegressor(random_state=1)

model.fit(X,y)
model_1.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [17]:
print('Original target answers')
print(y.tail())

print('Predicted target answers for random_state = None')
print(model.predict(X.tail()))

print('Predicted target answers for random_state = 1')
print(model_1.predict(X.tail()))

Original target answers
           Price
12205   601000.0
12206  1050000.0
12207   385000.0
12209   560000.0
12212  2450000.0
Predicted target answers for random_state = None
[ 601000. 1050000.  385000.  560000. 2450000.]
Predicted target answers for random_state = 1
[ 601000. 1050000.  385000.  560000. 2450000.]