<a href="https://colab.research.google.com/github/SowmyaLR/neural-networks/blob/basic_stuff/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget -O FuelConsumption.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv

--2020-02-25 09:58:05--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumption.csv’

FuelConsumption.csv 100%[===================>]  70.93K  --.-KB/s    in 0.02s

2020-02-25 09:58:06 (2.80 MB/s) - ‘FuelConsumption.csv’ saved [72629/72629]

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv("FuelConsumption.csv")

df.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [0]:
df[['ENGINESIZE','CYLINDERS']]

      ENGINESIZE  CYLINDERS
0            2.0          4
1            2.4          4
2            1.5          4
3            3.5          6
4            3.5          6
...          ...        ...
1062         3.0          6
1063         3.2          6
1064         3.0          6
1065         3.2          6
1066         3.2          6

[1067 rows x 2 columns]