<a href="https://colab.research.google.com/github/SowmyaLR/neural-networks/blob/practise/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [20]:
df = pd.DataFrame({"a":[1,2,3],
                   "b":[4,5,6],
                   "c":[6,7,8]})
#df.iloc[0,0] = 2
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   2.0  5.0  7.0
std    1.0  1.0  1.0
min    1.0  4.0  6.0
25%    1.5  4.5  6.5
50%    2.0  5.0  7.0
75%    2.5  5.5  7.5
max    3.0  6.0  8.0